<!-- licen/templates/licen/address_form.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success flex-grow-1">Сохранить</button>
        {% if network %}
        <a href="{% url 'network-detail' network.id %}" class="btn btn-secondary flex-grow-1">Отмена</a>
        {% else %}
        <a href="{% url 'address-list' %}" class="btn btn-secondary flex-grow-1">Отмена</a>
        {% endif %}
    </form>
</div>
{% endblock %}