<!-- licen/templates/licen/ecp_detail.html -->

{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Детали лицензии ЭЦП</h2>
    <dl class="row">
        <dt class="col-sm-3">ID:</dt>
        <dd class="col-sm-9">#{{ ecp.id }}</dd>

        <dt class="col-sm-3">ФИО:</dt>
        <dd class="col-sm-9">{{ ecp.full_name }}</dd>

        <dt class="col-sm-3">Дата начала:</dt>
        <dd class="col-sm-9">{{ ecp.start_date|date:"d.m.Y" }}</dd>

        <dt class="col-sm-3">Дата окончания:</dt>
        <dd class="col-sm-9">{{ ecp.end_date|date:"d.m.Y" }}</dd>

        <dt class="col-sm-3">Компьютер:</dt>
        <dd class="col-sm-9"><a href="#">{{ ecp.computer.name }}</a></dd>

        <dt class="col-sm-3">Комментарии:</dt>
        <dd class="col-sm-9">{{ ecp.comments }}</dd>
    </dl>

    {% if profile.role == 'admin' or profile.role == 'journalist'%}
    <a href="{% url 'ecp-update' ecp.id %}" class="btn btn-warning">Редактировать</a>
    <a href="{% url 'ecp-delete' ecp.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
    <a href="{% url 'ecp-list' %}" class="btn btn-secondary">Назад к списку</a>
</div>
{% endblock %}