<!-- licen/templates/licen/legal_entity_form.html -->

{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
        {% if city %}
            <a href="{% url 'city-detail' city.id %}" class="btn btn-secondary">Отмена</a>
        {% else %}
            <a href="{% url 'legal-entity-list' %}" class="btn btn-secondary">Отмена</a>
        {% endif %}
    </form>
</div>
{% endblock %}