-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: mydatabase
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=149 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_clockedschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_clockedschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_clockedschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clocked_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_clockedschedule`
--

LOCK TABLES `django_celery_beat_clockedschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_clockedschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_clockedschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_crontabschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_crontabschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_crontabschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `minute` varchar(240) NOT NULL,
  `hour` varchar(96) NOT NULL,
  `day_of_week` varchar(64) NOT NULL,
  `day_of_month` varchar(124) NOT NULL,
  `month_of_year` varchar(64) NOT NULL,
  `timezone` varchar(63) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_crontabschedule`
--

LOCK TABLES `django_celery_beat_crontabschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_crontabschedule` DISABLE KEYS */;
INSERT INTO `django_celery_beat_crontabschedule` VALUES (1,'0','4','*','*','*','Europe/Moscow');
/*!40000 ALTER TABLE `django_celery_beat_crontabschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_intervalschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_intervalschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_intervalschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `every` int NOT NULL,
  `period` varchar(24) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_intervalschedule`
--

LOCK TABLES `django_celery_beat_intervalschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_intervalschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_intervalschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_periodictask`
--

DROP TABLE IF EXISTS `django_celery_beat_periodictask`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_periodictask` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `task` varchar(200) NOT NULL,
  `args` longtext NOT NULL,
  `kwargs` longtext NOT NULL,
  `queue` varchar(200) DEFAULT NULL,
  `exchange` varchar(200) DEFAULT NULL,
  `routing_key` varchar(200) DEFAULT NULL,
  `expires` datetime(6) DEFAULT NULL,
  `enabled` tinyint(1) NOT NULL,
  `last_run_at` datetime(6) DEFAULT NULL,
  `total_run_count` int unsigned NOT NULL,
  `date_changed` datetime(6) NOT NULL,
  `description` longtext NOT NULL,
  `crontab_id` int DEFAULT NULL,
  `interval_id` int DEFAULT NULL,
  `solar_id` int DEFAULT NULL,
  `one_off` tinyint(1) NOT NULL,
  `start_time` datetime(6) DEFAULT NULL,
  `priority` int unsigned DEFAULT NULL,
  `headers` longtext NOT NULL DEFAULT (_utf8mb4'{}'),
  `clocked_id` int DEFAULT NULL,
  `expire_seconds` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `django_celery_beat_p_crontab_id_d3cba168_fk_django_ce` (`crontab_id`),
  KEY `django_celery_beat_p_interval_id_a8ca27da_fk_django_ce` (`interval_id`),
  KEY `django_celery_beat_p_solar_id_a87ce72c_fk_django_ce` (`solar_id`),
  KEY `django_celery_beat_p_clocked_id_47a69f82_fk_django_ce` (`clocked_id`),
  CONSTRAINT `django_celery_beat_p_clocked_id_47a69f82_fk_django_ce` FOREIGN KEY (`clocked_id`) REFERENCES `django_celery_beat_clockedschedule` (`id`),
  CONSTRAINT `django_celery_beat_p_crontab_id_d3cba168_fk_django_ce` FOREIGN KEY (`crontab_id`) REFERENCES `django_celery_beat_crontabschedule` (`id`),
  CONSTRAINT `django_celery_beat_p_interval_id_a8ca27da_fk_django_ce` FOREIGN KEY (`interval_id`) REFERENCES `django_celery_beat_intervalschedule` (`id`),
  CONSTRAINT `django_celery_beat_p_solar_id_a87ce72c_fk_django_ce` FOREIGN KEY (`solar_id`) REFERENCES `django_celery_beat_solarschedule` (`id`),
  CONSTRAINT `django_celery_beat_periodictask_chk_1` CHECK ((`total_run_count` >= 0)),
  CONSTRAINT `django_celery_beat_periodictask_chk_2` CHECK ((`priority` >= 0)),
  CONSTRAINT `django_celery_beat_periodictask_chk_3` CHECK ((`expire_seconds` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_periodictask`
--

LOCK TABLES `django_celery_beat_periodictask` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_periodictask` DISABLE KEYS */;
INSERT INTO `django_celery_beat_periodictask` VALUES (1,'celery.backend_cleanup','celery.backend_cleanup','[]','{}',NULL,NULL,NULL,NULL,1,'2025-06-23 01:00:00.009371',3,'2025-06-23 01:01:25.166305','',1,NULL,NULL,0,NULL,NULL,'{}',NULL,43200);
/*!40000 ALTER TABLE `django_celery_beat_periodictask` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_periodictasks`
--

DROP TABLE IF EXISTS `django_celery_beat_periodictasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_periodictasks` (
  `ident` smallint NOT NULL,
  `last_update` datetime(6) NOT NULL,
  PRIMARY KEY (`ident`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_periodictasks`
--

LOCK TABLES `django_celery_beat_periodictasks` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_periodictasks` DISABLE KEYS */;
INSERT INTO `django_celery_beat_periodictasks` VALUES (1,'2025-06-20 15:13:59.234808');
/*!40000 ALTER TABLE `django_celery_beat_periodictasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_celery_beat_solarschedule`
--

DROP TABLE IF EXISTS `django_celery_beat_solarschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_celery_beat_solarschedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `event` varchar(24) NOT NULL,
  `latitude` decimal(9,6) NOT NULL,
  `longitude` decimal(9,6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq` (`event`,`latitude`,`longitude`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_celery_beat_solarschedule`
--

LOCK TABLES `django_celery_beat_solarschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_solarschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_solarschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_address`
--

DROP TABLE IF EXISTS `licen_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_address` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `address` longtext NOT NULL,
  `comments` longtext,
  `network_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `licen_address_network_id_1420a2a4_fk_licen_network_id` (`network_id`),
  CONSTRAINT `licen_address_network_id_1420a2a4_fk_licen_network_id` FOREIGN KEY (`network_id`) REFERENCES `licen_network` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_address`
--

LOCK TABLES `licen_address` WRITE;
/*!40000 ALTER TABLE `licen_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_city`
--

DROP TABLE IF EXISTS `licen_city`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_city` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_city`
--

LOCK TABLES `licen_city` WRITE;
/*!40000 ALTER TABLE `licen_city` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_city` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_computer`
--

DROP TABLE IF EXISTS `licen_computer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_computer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `mac_address` varchar(17) NOT NULL,
  `ipv4_address` char(39) NOT NULL,
  `comments` longtext,
  `address_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `licen_computer_ipv4_address_address_id_e30ec9f3_uniq` (`ipv4_address`,`address_id`),
  KEY `licen_computer_address_id_5b3c6f92_fk_licen_address_id` (`address_id`),
  CONSTRAINT `licen_computer_address_id_5b3c6f92_fk_licen_address_id` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_computer`
--

LOCK TABLES `licen_computer` WRITE;
/*!40000 ALTER TABLE `licen_computer` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_computer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_contactperson`
--

DROP TABLE IF EXISTS `licen_contactperson`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_contactperson` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) NOT NULL,
  `position` varchar(255) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `email` varchar(254) NOT NULL,
  `email_password` varchar(255) NOT NULL,
  `city_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `licen_contactperson_city_id_2db5b2e3_fk_licen_city_id` (`city_id`),
  CONSTRAINT `licen_contactperson_city_id_2db5b2e3_fk_licen_city_id` FOREIGN KEY (`city_id`) REFERENCES `licen_city` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_contactperson`
--

LOCK TABLES `licen_contactperson` WRITE;
/*!40000 ALTER TABLE `licen_contactperson` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_contactperson` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_cryptopro`
--

DROP TABLE IF EXISTS `licen_cryptopro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_cryptopro` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `key` varchar(100) NOT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  KEY `licen_cryptopro_computer_id_cdb5e5b9_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_cryptopro_computer_id_cdb5e5b9_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_cryptopro`
--

LOCK TABLES `licen_cryptopro` WRITE;
/*!40000 ALTER TABLE `licen_cryptopro` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_cryptopro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_ecp`
--

DROP TABLE IF EXISTS `licen_ecp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_ecp` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `full_name` varchar(255) NOT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `licen_ecp_computer_id_038e5b79_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_ecp_computer_id_038e5b79_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_ecp`
--

LOCK TABLES `licen_ecp` WRITE;
/*!40000 ALTER TABLE `licen_ecp` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_ecp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_fiscalnumber`
--

DROP TABLE IF EXISTS `licen_fiscalnumber`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_fiscalnumber` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `model` varchar(100) NOT NULL,
  `zn` varchar(100) NOT NULL,
  `reg_number` varchar(100) NOT NULL,
  `fn` varchar(100) NOT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `model` (`model`),
  UNIQUE KEY `zn` (`zn`),
  UNIQUE KEY `reg_number` (`reg_number`),
  UNIQUE KEY `fn` (`fn`),
  KEY `licen_fiscalnumber_computer_id_8879d28c_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_fiscalnumber_computer_id_8879d28c_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_fiscalnumber`
--

LOCK TABLES `licen_fiscalnumber` WRITE;
/*!40000 ALTER TABLE `licen_fiscalnumber` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_fiscalnumber` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_honestsign`
--

DROP TABLE IF EXISTS `licen_honestsign`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_honestsign` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `key` varchar(100) DEFAULT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  KEY `licen_honestsign_computer_id_7f94a60d_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_honestsign_computer_id_7f94a60d_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_honestsign`
--

LOCK TABLES `licen_honestsign` WRITE;
/*!40000 ALTER TABLE `licen_honestsign` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_honestsign` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_internetprovider`
--

DROP TABLE IF EXISTS `licen_internetprovider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_internetprovider` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `speed` varchar(50) NOT NULL,
  `contract` varchar(100) NOT NULL,
  `comments` longtext,
  `address_id` bigint NOT NULL,
  `provider_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `licen_internetprovider_provider_id_address_id_48387bf2_uniq` (`provider_id`,`address_id`),
  KEY `licen_internetprovider_address_id_90d65912_fk_licen_address_id` (`address_id`),
  CONSTRAINT `licen_internetprovider_address_id_90d65912_fk_licen_address_id` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`),
  CONSTRAINT `licen_internetprovider_provider_id_96a44e27_fk_licen_provider_id` FOREIGN KEY (`provider_id`) REFERENCES `licen_provider` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_internetprovider`
--

LOCK TABLES `licen_internetprovider` WRITE;
/*!40000 ALTER TABLE `licen_internetprovider` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_internetprovider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_legalentity`
--

DROP TABLE IF EXISTS `licen_legalentity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_legalentity` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(255) NOT NULL,
  `comments` longtext,
  `city_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `licen_legalentity_name_city_id_e3976d38_uniq` (`name`,`city_id`),
  KEY `licen_legalentity_city_id_23677f32_fk_licen_city_id` (`city_id`),
  CONSTRAINT `licen_legalentity_city_id_23677f32_fk_licen_city_id` FOREIGN KEY (`city_id`) REFERENCES `licen_city` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_legalentity`
--

LOCK TABLES `licen_legalentity` WRITE;
/*!40000 ALTER TABLE `licen_legalentity` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_legalentity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_licensenotification`
--

DROP TABLE IF EXISTS `licen_licensenotification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_licensenotification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `license_type` varchar(100) NOT NULL,
  `license_id` int unsigned NOT NULL,
  `is_sent` tinyint(1) NOT NULL,
  `expiration_date` date DEFAULT NULL,
  `notification_type` varchar(25) NOT NULL,
  `computer_id` bigint DEFAULT NULL,
  `user_notified_id` int DEFAULT NULL,
  `address_id` bigint DEFAULT NULL,
  `legal_entity_id` bigint DEFAULT NULL,
  `days_left` int unsigned DEFAULT NULL,
  `network_id` bigint DEFAULT NULL,
  `city_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_notification_per_license` (`license_type`,`license_id`,`notification_type`),
  KEY `licen_licen_is_sent_b87bc5_idx` (`is_sent`),
  KEY `licen_licen_expirat_ddce18_idx` (`expiration_date`),
  KEY `licen_licen_notific_601a4f_idx` (`notification_type`),
  KEY `licen_licensenotific_user_notified_id_ff8f1412_fk_auth_user` (`user_notified_id`),
  KEY `licen_licensenotific_address_id_a8543d38_fk_licen_add` (`address_id`),
  KEY `licen_licensenotific_legal_entity_id_35ea2aca_fk_licen_leg` (`legal_entity_id`),
  KEY `licen_licensenotific_computer_id_36ff961b_fk_licen_com` (`computer_id`),
  KEY `licen_licensenotific_network_id_f4d8f940_fk_licen_net` (`network_id`),
  KEY `licen_licensenotification_city_id_22523a28_fk_licen_city_id` (`city_id`),
  CONSTRAINT `licen_licensenotific_address_id_a8543d38_fk_licen_add` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`),
  CONSTRAINT `licen_licensenotific_computer_id_36ff961b_fk_licen_com` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`),
  CONSTRAINT `licen_licensenotific_legal_entity_id_35ea2aca_fk_licen_leg` FOREIGN KEY (`legal_entity_id`) REFERENCES `licen_legalentity` (`id`),
  CONSTRAINT `licen_licensenotific_network_id_f4d8f940_fk_licen_net` FOREIGN KEY (`network_id`) REFERENCES `licen_network` (`id`),
  CONSTRAINT `licen_licensenotific_user_notified_id_ff8f1412_fk_auth_user` FOREIGN KEY (`user_notified_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `licen_licensenotification_city_id_22523a28_fk_licen_city_id` FOREIGN KEY (`city_id`) REFERENCES `licen_city` (`id`),
  CONSTRAINT `licen_licensenotification_chk_1` CHECK ((`license_id` >= 0)),
  CONSTRAINT `licen_licensenotification_chk_2` CHECK ((`days_left` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_licensenotification`
--

LOCK TABLES `licen_licensenotification` WRITE;
/*!40000 ALTER TABLE `licen_licensenotification` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_licensenotification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_mcd`
--

DROP TABLE IF EXISTS `licen_mcd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_mcd` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `mcd_id` varchar(100) NOT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mcd_id` (`mcd_id`),
  KEY `licen_mcd_computer_id_3e98ec50_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_mcd_computer_id_3e98ec50_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_mcd`
--

LOCK TABLES `licen_mcd` WRITE;
/*!40000 ALTER TABLE `licen_mcd` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_mcd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_mobileoperator`
--

DROP TABLE IF EXISTS `licen_mobileoperator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_mobileoperator` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `employee_name` varchar(255) NOT NULL,
  `contract` varchar(100) NOT NULL,
  `comments` longtext,
  `address_id` bigint NOT NULL,
  `operator_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `licen_mobileoperator_phone_number_address_id_491c7e73_uniq` (`phone_number`,`address_id`),
  KEY `licen_mobileoperator_address_id_951cdd64_fk_licen_address_id` (`address_id`),
  KEY `licen_mobileoperator_operator_id_36ffa158_fk_licen_operator_id` (`operator_id`),
  CONSTRAINT `licen_mobileoperator_address_id_951cdd64_fk_licen_address_id` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`),
  CONSTRAINT `licen_mobileoperator_operator_id_36ffa158_fk_licen_operator_id` FOREIGN KEY (`operator_id`) REFERENCES `licen_operator` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_mobileoperator`
--

LOCK TABLES `licen_mobileoperator` WRITE;
/*!40000 ALTER TABLE `licen_mobileoperator` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_mobileoperator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_network`
--

DROP TABLE IF EXISTS `licen_network`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_network` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(255) NOT NULL,
  `comments` longtext,
  `legal_entity_id` bigint NOT NULL,
  `inn` varchar(12) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `inn` (`inn`),
  KEY `licen_network_legal_entity_id_9eba0950_fk_licen_legalentity_id` (`legal_entity_id`),
  KEY `licen_netwo_inn_ef6471_idx` (`inn`),
  CONSTRAINT `licen_network_legal_entity_id_9eba0950_fk_licen_legalentity_id` FOREIGN KEY (`legal_entity_id`) REFERENCES `licen_legalentity` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_network`
--

LOCK TABLES `licen_network` WRITE;
/*!40000 ALTER TABLE `licen_network` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_network` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_ofd`
--

DROP TABLE IF EXISTS `licen_ofd`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_ofd` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `reg_number` varchar(100) NOT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reg_number` (`reg_number`),
  KEY `licen_ofd_computer_id_5f0ff95e_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_ofd_computer_id_5f0ff95e_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_ofd`
--

LOCK TABLES `licen_ofd` WRITE;
/*!40000 ALTER TABLE `licen_ofd` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_ofd` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_operator`
--

DROP TABLE IF EXISTS `licen_operator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_operator` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `comments` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_operator`
--

LOCK TABLES `licen_operator` WRITE;
/*!40000 ALTER TABLE `licen_operator` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_operator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_personalaccountinternetprovider`
--

DROP TABLE IF EXISTS `licen_personalaccountinternetprovider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_personalaccountinternetprovider` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `login` varchar(50) NOT NULL,
  `password` varchar(100) NOT NULL,
  `ip_address` char(39) DEFAULT NULL,
  `comments` longtext,
  `address_id` bigint NOT NULL,
  `internet_provider_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `licen_personalaccoun_address_id_c0f85b8b_fk_licen_add` (`address_id`),
  KEY `licen_personalaccoun_internet_provider_id_975449bb_fk_licen_int` (`internet_provider_id`),
  CONSTRAINT `licen_personalaccoun_address_id_c0f85b8b_fk_licen_add` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`),
  CONSTRAINT `licen_personalaccoun_internet_provider_id_975449bb_fk_licen_int` FOREIGN KEY (`internet_provider_id`) REFERENCES `licen_internetprovider` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_personalaccountinternetprovider`
--

LOCK TABLES `licen_personalaccountinternetprovider` WRITE;
/*!40000 ALTER TABLE `licen_personalaccountinternetprovider` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_personalaccountinternetprovider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_personalaccountmobileoperator`
--

DROP TABLE IF EXISTS `licen_personalaccountmobileoperator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_personalaccountmobileoperator` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `login` varchar(50) NOT NULL,
  `password` varchar(100) NOT NULL,
  `ip_address` char(39) DEFAULT NULL,
  `comments` longtext,
  `address_id` bigint NOT NULL,
  `mobile_operator_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `licen_personalaccoun_address_id_6fac1464_fk_licen_add` (`address_id`),
  KEY `licen_personalaccoun_mobile_operator_id_f7b24536_fk_licen_mob` (`mobile_operator_id`),
  CONSTRAINT `licen_personalaccoun_address_id_6fac1464_fk_licen_add` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`),
  CONSTRAINT `licen_personalaccoun_mobile_operator_id_f7b24536_fk_licen_mob` FOREIGN KEY (`mobile_operator_id`) REFERENCES `licen_mobileoperator` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_personalaccountmobileoperator`
--

LOCK TABLES `licen_personalaccountmobileoperator` WRITE;
/*!40000 ALTER TABLE `licen_personalaccountmobileoperator` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_personalaccountmobileoperator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_provider`
--

DROP TABLE IF EXISTS `licen_provider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_provider` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `comments` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_provider`
--

LOCK TABLES `licen_provider` WRITE;
/*!40000 ALTER TABLE `licen_provider` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_provider` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_remoteaccess`
--

DROP TABLE IF EXISTS `licen_remoteaccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_remoteaccess` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `access_id` varchar(100) NOT NULL,
  `password` varchar(100) NOT NULL,
  `comments` longtext,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `licen_remoteaccess_name_access_id_computer_id_0ab7a4d6_uniq` (`name`,`access_id`,`computer_id`),
  KEY `licen_remoteaccess_computer_id_2746d7a3_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_remoteaccess_computer_id_2746d7a3_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_remoteaccess`
--

LOCK TABLES `licen_remoteaccess` WRITE;
/*!40000 ALTER TABLE `licen_remoteaccess` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_remoteaccess` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_routeradminpanel`
--

DROP TABLE IF EXISTS `licen_routeradminpanel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_routeradminpanel` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `login` varchar(50) NOT NULL,
  `password` varchar(100) NOT NULL,
  `ip_address` char(39) NOT NULL,
  `comments` longtext,
  `address_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `licen_routeradminpanel_ip_address_address_id_55035751_uniq` (`ip_address`,`address_id`),
  KEY `licen_routeradminpanel_address_id_c5864912_fk_licen_address_id` (`address_id`),
  CONSTRAINT `licen_routeradminpanel_address_id_c5864912_fk_licen_address_id` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_routeradminpanel`
--

LOCK TABLES `licen_routeradminpanel` WRITE;
/*!40000 ALTER TABLE `licen_routeradminpanel` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_routeradminpanel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_usais`
--

DROP TABLE IF EXISTS `licen_usais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_usais` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `key` varchar(100) NOT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  KEY `licen_usais_computer_id_723a81c6_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_usais_computer_id_723a81c6_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_usais`
--

LOCK TABLES `licen_usais` WRITE;
/*!40000 ALTER TABLE `licen_usais` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_usais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_userprofile`
--

DROP TABLE IF EXISTS `licen_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `role` varchar(20) NOT NULL,
  `user_id` int NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `licen_userprofile_user_id_ce0c3208_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_userprofile`
--

LOCK TABLES `licen_userprofile` WRITE;
/*!40000 ALTER TABLE `licen_userprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_utmrsakeys`
--

DROP TABLE IF EXISTS `licen_utmrsakeys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_utmrsakeys` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `comments` longtext,
  `key` varchar(100) NOT NULL,
  `computer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  KEY `licen_utmrsakeys_computer_id_aaffbf9e_fk_licen_computer_id` (`computer_id`),
  CONSTRAINT `licen_utmrsakeys_computer_id_aaffbf9e_fk_licen_computer_id` FOREIGN KEY (`computer_id`) REFERENCES `licen_computer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_utmrsakeys`
--

LOCK TABLES `licen_utmrsakeys` WRITE;
/*!40000 ALTER TABLE `licen_utmrsakeys` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_utmrsakeys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `licen_wifi`
--

DROP TABLE IF EXISTS `licen_wifi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `licen_wifi` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `password` varchar(100) NOT NULL,
  `frequency_band` varchar(10) NOT NULL,
  `comments` longtext,
  `address_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `licen_wifi_address_id_4b168d84_fk_licen_address_id` (`address_id`),
  CONSTRAINT `licen_wifi_address_id_4b168d84_fk_licen_address_id` FOREIGN KEY (`address_id`) REFERENCES `licen_address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `licen_wifi`
--

LOCK TABLES `licen_wifi` WRITE;
/*!40000 ALTER TABLE `licen_wifi` DISABLE KEYS */;
/*!40000 ALTER TABLE `licen_wifi` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-23  6:29:06
